.bannerMod {
  background-image: url("../../Images/bannerbg.svg");
  background-position: center;
  text-align: center;
}

.Rocket {
  max-width: 70vw;
}

.Stewardess,
.Rover {
  padding-bottom: 1vh;
}

.AdContainer {
  background-color: gray;
  padding: 1vw;
}

.Accomodation,
.Rentarover {
  margin: 1vw;
  border-radius: 0.5vw;
}
