.CarouselContainer {
  padding: 1vw;
}
.CaptionContainer h3 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.CaptionContainer p {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}
